<!DOCTYPE html>
<html>
<head>
  <title>Ritopls</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  

  <script>
 
  var onload = function() {
    $.ajax({
        url: "/fingerprint",
        method: 'post',
        dataType: 'json',
        success: function(data) {
          console.log(data.name)
        }
      });
    var cookie = document.cookie.slice(3).split(";")[0]
    console.log(cookie)
    var username = $('#username').val().toLowerCase();
    var usernamebox = document.getElementById('username')
    var passwordbox = document.getElementById('password')
    var searchbox = $('#search').val()
    searchbox = "annie"
    document.getElementById("loggedinfo").style.display = 'none'
    var logged_in = function(data){
      logged.innerHTML = data.name.username;
      $('#username').val = data.name.username
      document.getElementById("loggedhide").style.display = 'none'
      document.getElementById("loggedinfo").style.display = 'inline-block'
    }
    $.ajax({
        url: "/find",
        data: cookie,
        method: 'post',
        dataType: 'json',
        success: function(data) {
          logged_in(data);
        }
      });
    $('#login').click(function(event) {
      event.preventDefault();
      var logged = document.getElementById('logged')
      var username = $('#username').val();
      var password = $('#password').val();
      var object = {
        username: username,
        password: password
      };
      var json = JSON.stringify(object);

      $.ajax({
        url: "/login.json",
        data: json,
        method: 'post',
        dataType: 'json',
        success: function(data) {
          if (data["status"] == "SUCCESS") {
            logged_in(data);
            document.cookie = 'id = ' + data.name._id.$oid;
          } else {
            usernamebox.style.borderColor = 'red'
            passwordbox.style.borderColor = 'red'
          }
         }
       });
     });
    $('#signup').click(function(event) {
      event.preventDefault();
      var newusername = $('#newusername').val().toLowerCase();
      var newemail = $('#newemail').val().toLowerCase();
      var newpassword = $('#newpassword').val();
      var newpassword2 = $('#newpassword2').val()
      var usernameinput = document.getElementById('newusername')
      var emailinput = document.getElementById('newemail')
      var passwordinput = document.getElementById('newpassword')
      var password2input = document.getElementById('newpassword2')
      var usernameerror = document.getElementById('usernameerror')
      var emailerror = document.getElementById('emailerror')
      var passworderror = document.getElementById('passworderror')
      var object = {
        newusername: newusername,
        newemail: newemail
      };
      var json = JSON.stringify(object);

      if(newusername == "") {
        usernameerror.innerHTML = "Enter a Username";
        usernameinput.style.borderColor = 'red'
      } else {
        usernameerror.innerHTML = ""
        usernameinput.style.borderColor = 'green'
      }
      if(newemail == "") {
        emailerror.innerHTML = "Enter an E-mail"
        emailinput.style.borderColor = 'red'
      } else {
        emailerror.innerHTML = ""
        emailinput.style.borderColor = 'green'
      }
      if(newpassword == "") {
        passworderror.innerHTML = "Enter a Password"
        passwordinput.style.borderColor = 'red'
      } else {
        passworderror.innerHTML = ""
      }
      if(newpassword !== "" && newpassword !== newpassword2) {
            passworderror.innerHTML = "Passwords do not match"
            passwordinput.style.borderColor = 'red'
            password2input.style.borderColor = 'red'
          } else if(newpassword !== "") {
            passwordinput.style.borderColor = 'green'
            password2input.style.borderColor = 'green'
          }
      $.ajax({
        url: "/finduser",
        data: json,
        method: 'post',
        success: function(data) {
          if(newusername !== "" && data.newusername !== null) {
            usernameerror.innerHTML = "Username already exists"
            usernameinput.style.borderColor = 'red'
          } else if(newusername !== "") {
            usernameinput.style.borderColor = 'green'
          }
          if(newemail !== "" && data.newemail !== null) {
            emailerror.innerHTML = "E-mail already exists"
            emailinput.style.borderColor = 'red'
          } else if(newemail !== "") {
            emailinput.style.borderColor = 'green'
          }
          if(newusername !== "" && newemail !== "" && newpassword !== "" && data.newusername == null && data.newemail == null && newpassword == newpassword2) {
              signup();
          }
       }
      });
    

      var signup = function() {
          var object = {
            username: newusername,
            email: newemail,
            passwordarr: [newpassword, newpassword2]
          };
          var json = JSON.stringify(object);

          $.ajax({
            url: "/signup.json",
            method: 'post',
            data: json,
            dataType: 'json',
            success: function(data) {
              logged_in(data);
              document.cookie = 'id = ' + data.name._id.$oid;
             }
           });
      }
     });
        $('#logout').click(function() {
          document.cookie = 'id = ;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    })
        $('#searchbtn').click(function() {
          
    })
  }

 
    $(window).bind('page:change', onload)   

  </script>
</head>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Rito Pls</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="navbar-left" id="loggedhide">
        <form class="navbar-form navbar-left" id="loginform">
          <div class="form-group">
  	        	<input type="text" class="form-control" id="username" placeholder="Username" >
  	          <input type="text" class="form-control" id="password" placeholder="Password" >
            <div class="btn-group">
                <button type="submit" class="btn btn-default" id="login">Login</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
            </div>
          </div>
        </form>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign Up<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <form>
                  <li><h6>Username:<br><span class='error' id='usernameerror'></span></h6></li>
                  <li><input type="text" class="form-control signuplist" placeholder="Username" id="newusername"></li>
                  <li><h6>E-mail:<br><span class='error' id='emailerror'></span></h6></li>
                  <li><input type="text" class="form-control signuplist" placeholder="E-mail" id="newemail"></li>
                  <li><h6>Password:<br><span class='error' id='passworderror'></span></h6></li>
                  <li><input type="text" class="form-control signuplist" placeholder="Password" id="newpassword"></li>
                  <li><h6>Verify Password:</h6></li>
                  <li><input type="text" class="form-control signuplist" placeholder="Verify Password" id="newpassword2"></li>
                  <li class="divider"></li>
                  <li><button class="btn btn-default signuplist" id="signup">Sign Up!</button></li>
                </form>
              </ul>
            </li>
          </ul>
      </div>
      <form class="navbar-form navbar-right" id="searchbar">
        <div class="input-group">
          <input type="text" class="form-control" id="search" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" id="searchbtn"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div><!-- /input-group -->
      </form>
      <form class="navbar-form navbar-right" id="loggedinfo">
        <div class="btn btn-default" id="logged"></div>
          <button class="btn btn-default" id="logout">Logout</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<body>

<%= yield %>

</body>
</html>
